h1 {
  font-family: arial;
}
p {
  font-family: arial;
  font-size: x-large;
}
ol {
  font-family: arial;
  font-size: large;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}
